 #productImage{
     width: 120px;
     height: 120px;
     margin-left: 20px;
     margin-top: 20px;
 }
 
#productName{
    font-size: 18px; 
    font-weight: bold; 
    line-height: 15px;
    margin-top: 24px;
}

#productDetail{
    font-size: 16px; 
    margin-left: 0px;
    line-height: 7px;
}

#detail{
    margin-left: 50px;
}

#button1{
    margin-inline-start: 20px;
    margin-top: 22px;
    height: 20px;
    line-height: 7px;
}

#button2{
    background-color: #FF3434;
    color: #ffffff;
    border: none;
}

#button3{
    background-color: #FF3434;
    color: #ffffff;
    border: none;
    margin-left: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
 }

 #productQuantity1{
     margin-top: 20px;
     margin-left: 40px;
     font-size: 16px; 
 }

 #productQuantity2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px; 
}

#productSize{
    font-size: 16px; 
    margin-left: 40px;
}

hr{
    border-color: black;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

#price{
    margin-left: 40px;
}

#promotionCode{
    margin-left: 40px;
    font-size: 16px;
}

#textCheckCode{
    font-size: 14px;
}

#btnCheckCode{
    margin-right: 20px;
}

#totalPrice{
    margin-left: 40px;
}

#btnPayment{
    margin-left: 82px;
}